$yellowGradient: linear-gradient(180deg, #ffcc00 0%, #e8a60c 80%);
$darkGradient: linear-gradient(
  -90deg,
  rgb(22, 24, 29) 0%,
  rgb(10, 10, 10) 100%
);

$white: rgb(237, 237, 237);
$yellow: #ffcc00;
$yellowWithOpacity: rgba(255, 204, 0, 0.82);
$black: rgb(22, 24, 29);
$blackWithOpacity: rgba(22, 24, 29, 0.8);
@mixin svg {
  position: absolute;
  left: 0;
  bottom: 0%;
}
@mixin textShadow {
  color: $white;
  text-shadow: 1px 1px 4px $black;
}
$shadow: 0 2px 20px -7px $white;
$bshadow: 1px 1px 7px $black;

// RWD breakpoints
$screen-sm-min: 360px;
$screen-sm-max: 600px;

// Small tablets (portrait view)
$screen-tablet: 768px;
$second-screen-tablet: 1024px;

// laptops
$screen-xl-max: 1367px;

@mixin xl {
  @media only screen and (max-width: #{$screen-xl-max}) {
    @content;
  }
}

@mixin square {
  @media only screen and (max-width: 1280px) and (max-height: 1024px) {
    @content;
  }
}

@mixin tablet_l {
  @media only screen and (max-width: #{$second-screen-tablet}) {
    @content;
  }
}

@mixin tablet_portrait {
  @media only screen and (max-width: #{$screen-tablet}) and (max-height: #{$second-screen-tablet}) {
    @content;
  }
}

@mixin tablet_sm {
  @media only screen and (max-width: #{$screen-tablet}) {
    @content;
  }
}

@mixin mobile_sm_max {
  @media only screen and (max-width: #{$screen-sm-max}) {
    @content;
  }
}
