@import "__variables.scss";

.crewSection {
  height: 115vh;
  background: $darkGradient;
  position: relative;
  top: -10%;
  &__header {
    color: $white;
    font-size: 55px;
    text-align: center;
    font-weight: 700;
  }
  &__container {
    display: flex;
    margin: 10px 25px;
    padding: 30px;
    height: 65%;
    justify-content: space-evenly;
    align-items: center;
    .crewSection__crewMember {
      width: 22%;
      height: 85%;
      background: $yellowGradient;
      border-radius: 11px;
      transition: 0.5s linear;
      text-align: center;
      cursor: default;
      @include square {
        width: 29%;
      }
      &:hover {
        box-shadow: 0 2px 20px -7px $white;
      }
      &--image {
        width: 20vh;
        height: 20vh;
        margin: 5%;
        background-color: rgb(29, 29, 29);
        border-radius: 50%;
      }
      &--text {
        font-size: 1vw;
        padding: 0 5%;
        @include xl {
          font-size: 1.2vw;
        }
        @include square {
          font-size: 1.5vw;
        }
      }
      &--character {
        display: block;
        font-size: 1.3vw;
        @include xl {
          font-size: 1.6vw;
        }
        @include square {
          font-size: 1.9vw;
        }
        font-weight: 600;
        border-bottom: 1px solid rgb(29, 29, 29);
      }
    }
  }
  &__svg-wave {
    @include svg;
  }
}
