@import "__variables.scss";

.header {
  position: relative;
  height: calc(100vh - 80px);
  padding-top: 25px;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1.5fr 0.7fr;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "svg h1"
    "wave wave";
  grid-gap: 5px 5px;
  background: $darkGradient;
  align-items: start;
  overflow: hidden;
  &__svg-game {
    width: 100%;
    height: 120%;
    grid-area: svg;
    position: relative;
    left: -15%;
    top: 0%;
    @include square {
      left: -10%;
      top: 5%;
    }
  }
  &__text {
    grid-area: h1;
    cursor: context-menu;
    align-self: center;
    justify-self: start;
  }
  &__text h1 {
    font-size: 70px;
    font-weight: 700;
    color: rgb(237, 237, 237);
  }
  &__text span {
    font-size: 80px;
    color: #ffcc00;
  }
  &__svg-wave {
    grid-area: wave;
    @include svg;
  }
}

@include tablet_portrait {
  .header {
    height: calc(100vh - 95px);
    padding-top: 0px;
    top: 0px;
    overflow: hidden;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 50% 50%;
    .header__svg-game {
      width: 90%;
      height: 110%;
      left: 5%;
      top: 10%;
    }
    &__text {
      align-self: center;
      justify-self: center;
    }
    &__text h1 {
      font-size: 75px;
    }
    &__svg-wave {
      grid-area: wave;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

@include mobile_sm_max {
  .header {
    top: 0px;
    grid-template-columns: 1.4fr 1.1fr;
    grid-template-rows: 60% 40%;
    .header__svg-game {
      width: 80%;
      height: 90%;
      left: 10%;
      top: 10%;
    }
    &__text h1 {
      font-size: 50px;
    }
    &__text span {
      font-size: 60px;
    }
  }
}
