@import "__variables.scss";

.header {
  position: relative;
  height: calc(100vh - 80px);
  padding-top: 25px;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1.5fr 1.1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "svg h1"
    "wave wave";
  grid-gap: 5px 5px;
  background: $darkGradient;
  align-items: start;
  overflow: hidden;
  .button {
    grid-area: h1;
    align-self: end;
    justify-self: center;
    bottom: 3%;
    width: 12vw;
    height: 5vh;
    border-radius: 8px;
    background: $yellowGradient;
    border: 1px solid $blackWithOpacity;
    box-shadow: $shadow;
    text-align: center;
    transition: all 0.4s linear;

    a {
      display: block;
      font-size: 16px;
      color: $black;
      text-decoration: none;
      width: 100%;
      transition: all 0.3s linear;
    }
  }
  .button:hover a{
    transform: scale(1.1);
  }
  &__svg-game {
    width: 100%;
    height: 120%;
    grid-area: svg;
    position: relative;
    left: -15%;
    top: 0%;
    @include square {
      left: -10%;
      top: 5%;
    }
  }
  &__text {
    grid-area: h1;
    cursor: context-menu;
    align-self: center;
    justify-self: center;
  }
  &__text h1 {
    justify-self: center;
    font-size: 70px;
    font-weight: 700;
    color: rgb(237, 237, 237);
  }
  &__text span {
    font-size: 80px;
    color: #ffcc00;
  }
  &__svg-wave {
    grid-area: wave;
    @include svg;
  }
}

@include tablet_portrait {
  .header {
    height: calc(100vh - 95px);
    padding-top: 0px;
    top: 0px;
    overflow: hidden;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 50% 50%;
    .button {
      grid-area: none;
      position: absolute;
      bottom: 30%;
      width: 42%;
      height: 7%;
      left:50%;
      transform: translateX(-50%);
      a {
        font-size: 20px;
      }
    }
    .header__svg-game {
      width: 90%;
      height: 110%;
      left: 5%;
      top: 10%;
    }
    &__text {
      align-self: center;
      justify-self: center;
    }
    &__text h1 {
      font-size: 75px;
    }
    &__svg-wave {
      grid-area: wave;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

@include mobile_sm_max {
  .header {
    top: 0px;
    grid-template-columns: 1.2fr 1.4fr;
    grid-template-rows: 60% 40%;
    .button {
      grid-area: none;
      position: absolute;
      bottom: 30%;
      width: 40%;
      height: 7%;
      left:50%;
      transform: translateX(-50%);
      a {
        font-size: 16px;
      }
    }
    .header__svg-game {
      width: 95%;
      height: 90%;
      left: 10%;
      top: 10%;
    }
    &__text h1 {
      font-size: 40px;
    }
    &__text span {
      font-size: 45px;
    }
  }
}
