@import "__variables.scss";

.locationSection {
  height: 100vh;
  max-width: 100%;
  position: relative;
  background: $yellowGradient;
  overflow: hidden;
  &__header {
    color: $black;
    font-size: 55px;
    text-align: center;
    font-weight: 700;
    &--span {
      letter-spacing: 3px;
      color: $white;
      @include textShadow;
    }
  }
  &__container {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% auto;
  }
  &__mapContainer {
    width: 50%;
    height: 100%;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: $bshadow;
  }
  &__aboutLocation {
    width: 42%;
    height: 95%;
    border-radius: 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $darkGradient;
    color: $white;
    box-shadow: $bshadow;
    cursor: default;

    &--header {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      padding: 1%;
    }
    &--text {
      font-size: 1.5rem;
    }
  }
  &__svg-wave {
    @include svg;
    transform: scaleX(-1);
  }
}

@include square {
  .locationSection {
    &__container {
      width: 92%;
    }
    &__mapContainer {
      width: 74%;
      height: 100%;
      margin-right: 5%;
    }
    &__aboutLocation {
      width: 49%;
      &--header {
        font-size: 2.3rem;
      }
      &--text {
        font-size: 1.7rem;
      }
    }
  }
}

@include tablet_portrait {
  .locationSection {
    &__header {
      font-size: 50px;
      text-align: center;
      font-weight: 700;
    }
    &__container {
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-evenly;
      align-items: center;
      margin: 2% 0;
    }
    &__mapContainer {
      width: 80%;
      height: 50%;
      border-radius: 2%;
      margin-right: 0;
      overflow: hidden;
      box-shadow: 1px 1px 7px $black;
    }
    &__aboutLocation {
      width: 80%;
      height: 40%;
      border-radius: 12px;

      &--header {
        font-size: 2.1rem;
      }
      &--text {
        font-size: 1.6rem;
      }
    }
  }
}

@include tablet_sm {
  .locationSection {
    &__container {
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-evenly;
      align-items: center;
      margin: 2% 0;
    }
    &__mapContainer {
      width: 80%;
      height: 48%;
      border-radius: 2%;
      margin-right: 0;
      overflow: hidden;
    }
    &__aboutLocation {
      width: 80%;
      height: 45%;
      border-radius: 10px;

      &--header {
        font-size: 1.75rem;
      }
      &--text {
        font-size: 1.3rem;
      }
    }
  }
}

@include mobile_sm_max {
  .locationSection {
    &__header {
      font-size: 40px;
    }
    &__container {
      height: 75%;
      margin: 1% 0;
    }
    &__mapContainer {
      height: 45%;
    }
    &__aboutLocation {
      height: 43%;
      &--header {
        font-size: 1.6rem;
      }
      &--text {
        font-size: 1.3rem;
      }
    }
  }
}

@include mobile_sm_min {
  .locationSection {
    &__header {
      font-size: 30px;
    }
    &__container {
      height: 75%;
      margin: 1% 0;
    }
    &__mapContainer {
      height: 46%;
    }
    &__aboutLocation {
      height: 41%;
      &--header {
        font-size: 1.3rem;
      }
      &--text {
        font-size: 1.1rem;
      }
    }
  }
}
