@import "__variables.scss";
.nav {
  box-sizing: border-box;
  background: $darkGradient;
  width: 100vw;
  height: 80px;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  &__hamburger {
    display: none;
  }
  &__logo-link {
    color: $yellow;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9%;
    @include xl {
      font-size: 28px;
    }
    &__svg {
      width: 46%;
      margin-right: 8px;
    }
  }

  .navbar {
    display: flex;
    list-style: none;

    &__item {
      margin: 12px;
      margin-right: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100px;

      &-link {
        color: white;
        margin: 15px;
        padding: 15px 15px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        transition: 0.4s linear;
        border-radius: 12px;
        @include xl {
          font-size: 20px;
        }
        @include square {
          font-size: 20px;
        }
        &:hover {
          background-color: #ffcc00;
          color: rgb(18, 19, 22);
        }
      }
    }
  }
  .fa-angle-down {
    font-size: 22px;
    position: relative;
    top: 0;
    left: 10px;
    @include square {
      font-size: 26px;
      top: 3%;
    }
  }
}

@include tablet_portrait {
  .nav {
    padding: 15px;
    &__logo-link {
      width: 17%;
      font-size: 30px;
      padding: 10px;
      margin-left: 15px;
    }
    & .navbar__item {
      margin: 10px;
      min-height: 50px;
      &-link {
        font-size: 20px;
        margin: 10px;
      }
    }
  }
}

@media (min-width: 600px) {
  .nav__hamburger {
    display: none;
  }
}
@include mobile_sm_max {
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    min-height: 80px;
    width: 100%;
    margin-top: 15px;
    &__logo-link {
      height: 50px;
      width: 50px;
      color: $yellow;
      font-size: 30px;
      padding: 0;
      z-index: 200;
      display: inline;
      &__svg {
        display: none;
      }
    }
    &__hamburger {
      display: inline;
      font-size: 30px;
      height: 50px;
      z-index: 200;
    }
    .navbar {
      display: none;
      visibility: hidden;

      &--mobile {
        position: absolute;
        overflow: hidden;
        z-index: 100;
        width: 100vw;
        height: calc(100% - 25px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        background: $darkGradient;
      }

      &__item {
        display: block;
        text-align: center;
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
        width: 100%;
        height: 130px;
        position: static;
        .submenu {
          top: -10px;
          margin-bottom: 19px;
        }
        &-link {
          height: auto;
          width: 100%;
          margin: 0;
        }
        &-link:hover {
          color: white;
          background-color: transparent;
        }
      }
    }
  }
}
