@import "__variables.scss";
.aboutSection {
  height: 100vh;
  max-width: 100%;
  position: relative;
  background: $yellowGradient;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: hidden;

  &__textContainer {
    position: relative;
    top: 0;
    right: 7%;
    width: 44%;
    margin: 20px;
    background: $darkGradient;
    color: $white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: $bshadow;
    &__header {
      font-size: 3rem;
    }
    &__text {
      margin-top: 15px;
      font-size: 1.1rem;
      text-align: left;
    }
  }
  &__parallaxContainer {
    align-self: flex-start;
    padding: 2em;
    margin-right: 5%;
    width: 50%;
    height: 55%;
    &__svg {
      display: inline i !important;
      position: relative !important;
      top: -7vh !important;
      left: 0px !important;
      width: 110%;
      height: 120%;
    }
  }
  &__svg-wave {
    @include svg;
    transform: scaleX(-1);
  }
}

@include square {
  .aboutSection {
    &__textContainer {
      top: 0;
      right: 0;
      width: 75%;
      height: 67%;
      margin: 20px;
      padding: 35px;
      &__header {
        font-size: 4vw;
      }
      &__text {
        margin-top: 8px;
        font-size: 1.25em;
        text-align: left;
      }
    }
    &__parallaxContainer {
      height: 75%;
      &__svg {
        width: 110%;
        height: 110%;
      }
    }
  }
}

@include tablet_portrait {
  .aboutSection {
    height: 100vh;
    max-width: 100%;
    position: relative;
    background: $yellowGradient;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__textContainer {
      top: -5%;
      right: 0;
      width: 90%;
      height: 42%;
      margin: 0px;
      padding: 40px;
      box-shadow: $bshadow;
      &__header {
        font-size: 2.5em;
        margin-top: -10px;
      }
      &__text {
        margin-top: 8px;
        font-size: 1.4em;
        text-align: left;
      }
    }
    &__parallaxContainer {
      align-self: flex-start;
      top: -5%;
      height: 36%;
      width: 100%;
      margin: 0;
      padding: 0;
      &__svg {
        width: 96%;
        height: 110%;
      }
    }
  }
}

@include tablet_sm {
  .aboutSection {
    &__textContainer {
      top: -5%;
      padding: 35px;
      box-shadow: $bshadow;
      &__header {
        font-size: 2.1em;
        margin-top: -15px;
      }
      &__text {
        margin-top: 8px;
        font-size: 1.2em;
        text-align: left;
      }
    }
  }
}

@include mobile_sm_max {
  .aboutSection {
    &__textContainer {
      top: -6%;
      right: 0;
      width: 92%;
      height: 41%;
      box-shadow: $bshadow;
      padding: 20px;
      &__header {
        font-size: 2.1em;
        margin-top: 0px;
      }
      &__text {
        margin-top: 10px;
        font-size: 0.96em;
      }
    }
    &__parallaxContainer {
      align-self: flex-start;
      top: -6%;
      height: 36%;
    }
  }
}
