@import "__variables.scss";
.aboutSection {
  height: 100vh;
  max-width: 100%;
  position: relative;
  background: $yellowGradient;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;

  &__textContainer {
    position: relative;
    top: 0;
    right: 7%;
    width: 44%;
    margin: 20px;
    background: $darkGradient;
    color: $white;
    padding: 40px;
    border-radius: 15px;
    &__header {
      font-size: 55px;
    }
    &__text {
      margin-top: 15px;
      text-align: left;
    }
  }
  &__parallaxContainer {
    align-self: flex-start;
    padding: 1em;
    margin: 2% 5%;
    min-width: 30%;
    min-height: 40%;
    &__svg {
      position: relative !important;
      top: -7vh !important;
      left: 0px !important;
      width: 90%;
      height: 50%;
    }
  }
  &__svg-wave {
    @include svg;
    transform: scaleX(-1);
  }
}
